@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.float-hot {
  animation: float 0.9s ease-in-out infinite;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
@theme {
  --pri: #003459;
  --second:#F7DBA7;
  --third:#FCEED5;
  --txt:#333333;
  --b:#00BFFF;

}

*{
  font-family: "Quicksand", sans-serif;
}
.container{
  width: 1380px; 
}
html {
  overflow-y: scroll; 
}

.variant-upload .filepond--root {
  z-index: 0;
}
.variant-upload .filepond--root {
  height: 230px;
}

.variant-upload .filepond--panel-root {
  min-height: 230px;
}

.variant-upload .filepond--list-scroller {
   margin-top:-10px; 
  max-height: 150px;  
  overflow-y: auto;  
}
.filepond--drop-label { 
  margin-top:-10px; 
  font-size: 16px; 
} 